body {
    font-family: 'Avenir' !important;
    font-size: 18px;
    margin: 0;
}

h1 {
    font-size: 64px;
    text-align: center;
    margin: 0px;
    padding-top: 120px
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #ED8885;
    background-color: transparent;
}

a:hover {
    color: grey;
}

.navbar {
    width: 100%;
    height:80px;
    background-color: #ED8885;
    position: fixed;
    overflow: hidden;
  }

  .navbar-text {
    color: white;
    cursor: pointer;
    font-size: 36px;
  }

  .navbar-text:hover {
    color: grey;
  }

  .navbar-block {
      padding-right: 80px;
      display: inline;
  }

.blurb {
    padding-left: 8rem;
    padding-right: 8rem;
}
  